@page "/estudiantes"
@layout AdminLayout
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<h3>Listado de Estudiantes</h3>

<!-- Filtro por Curso -->
<div class="form-group">
    <label for="cursoSelect">Filtrar por Curso:</label>
    <select id="cursoSelect" class="form-control" @onchange="OnCursoSeleccionadoChange">
        <option value="">Seleccionar Curso</option>
        @foreach (var curso in cursos)
        {
            <option value="@curso.id_curso">@curso.nombre_curso</option>
        }
    </select>
</div>

@if (selectedCurso != 0)
{
    <!-- Filtro por Periodo -->
    <div class="form-group">
        <label for="periodoSelect">Filtrar por Periodo:</label>
        <select id="periodoSelect" class="form-control" @onchange="OnPeriodoSeleccionadoChange">
            <option value="">Seleccionar Periodo</option>
            @foreach (var periodo in periodosFiltrados)
            {
                <option value="@periodo.id_lista_periodo">@periodo.nombre_periodo</option>
            }
            }
        </select>
    </div>
}

<button class="btn btn-success" @onclick="CrearNuevoEstudiante">Añadir Nuevo Estudiante</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Correo</th>
            <th>Cursos</th>
            <th>Periodos</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (estudiantesFiltrados.Any())
        {
            @foreach (var estudiante in estudiantesFiltrados)
            {
                <tr>
                    <td>@estudiante.id_estudiante</td>
                    <td>@estudiante.cedula_usuario</td>
                    <td>@estudiante.nombre_usuario</td>
                    <td>@estudiante.apellidos_usuario</td>
                    <td>@estudiante.edad_usuario</td>
                    <td>@estudiante.correo_usuario</td>
                    <td>@(estudiante.cursos.Any() ? string.Join(", ", estudiante.cursos) : "NO ASIGNADO")</td>
                    <td>@(estudiante.periodos.Any() ? string.Join(", ", estudiante.periodos) : "NO ASIGNADO")</td>
                    <td>
                        <button class="btn btn-info" @onclick="() => VerDetalles(estudiante.id_estudiante)">Ver</button>
                        <button class="btn btn-danger" @onclick="() => ConfirmarEliminarEstudiante(estudiante.id_estudiante)">Eliminar</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9">No hay estudiantes disponibles con los filtros seleccionados.</td>
            </tr>
        }
    </tbody>
</table>

<!-- Paginación -->
<div class="pagination-container">
    <button @onclick="PreviousPage" class="btn btn-primary btn-sm" disabled="@(!hasPreviousPage)">Anterior</button>
    <span>Página @currentPage de @totalPages</span>
    <button @onclick="NextPage" class="btn btn-primary btn-sm" disabled="@(!hasNextPage)">Siguiente</button>
</div>

@code {
    private List<EstudianteConDetalles> estudiantes = new List<EstudianteConDetalles>();
    private List<EstudianteConDetalles> estudiantesFiltrados = new List<EstudianteConDetalles>();
    private List<ListaPeriodo> periodos = new List<ListaPeriodo>();
    private List<ListaPeriodo> periodosFiltrados = new List<ListaPeriodo>();
    private List<Curso> cursos = new List<Curso>();
    private int selectedPeriodo = 0;
    private int selectedCurso = 0;
    private string errorMessage;
    private int currentPage = 1;
    private int totalPages;
    private const int pageSize = 10;

    protected override async Task OnInitializedAsync()
    {
        await LoadEstudiantes();
        periodos = await Http.GetFromJsonAsync<List<ListaPeriodo>>("http://localhost:5117/api/ListaPeriodo");
        cursos = await Http.GetFromJsonAsync<List<Curso>>("http://localhost:5117/api/Curso");
    }

    private async Task LoadEstudiantes()
    {
        try
        {
            // Log de los parámetros antes de la solicitud
            Console.WriteLine($"Cargando estudiantes con Curso: {selectedCurso}, Periodo: {selectedPeriodo}, Página: {currentPage}");

            var response = await Http.GetFromJsonAsync<PagedResponse<EstudianteConDetalles>>(
                $"http://localhost:5117/api/Estudiante/Detalles?pageNumber={currentPage}&pageSize={pageSize}&cursoId={selectedCurso}&periodoId={selectedPeriodo}");
            estudiantes = response.Items.ToList();
            totalPages = (int)Math.Ceiling((double)response.TotalCount / pageSize);

            estudiantesFiltrados = estudiantes;
        }
        catch (Exception ex)
        {
            await sweetAletNotify($"Error al cargar los datos. Exception: {ex.Message}", "error");
        }
    }

    private async Task OnCursoSeleccionadoChange(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int cursoId))
        {
            selectedCurso = cursoId;
            await CargarPeriodos(cursoId);
        }
        else
        {
            selectedCurso = 0;
            selectedPeriodo = 0; // Reset periodo filter
            periodosFiltrados = new List<ListaPeriodo>();
            await LoadEstudiantes();
        }
    }

    private async Task CargarPeriodos(int cursoId)
    {
        try
        {
            periodosFiltrados = await Http.GetFromJsonAsync<List<ListaPeriodo>>($"http://localhost:5117/api/Periodo/por-curso/{cursoId}");
            if (!periodosFiltrados.Any())
            {
                errorMessage = "No se encontraron periodos para el curso seleccionado.";
                await sweetAletNotify(errorMessage, "info");
            }
            else
            {
                errorMessage = string.Empty; // Limpia el mensaje de error si se encontraron periodos
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Error al cargar los periodos. Exception: {ex.Message}";
            await sweetAletNotify(errorMessage, "error");
        }

        await LoadEstudiantes();
    }

    private async Task OnPeriodoSeleccionadoChange(ChangeEventArgs e)
    {
        var selectedValue = e.Value.ToString();
        selectedPeriodo = string.IsNullOrEmpty(selectedValue) ? 0 : int.Parse(selectedValue);
        Console.WriteLine($"Periodo seleccionado: {selectedPeriodo}");
        await LoadEstudiantes();
    }

    private void VerDetalles(int id)
    {
        NavigationManager.NavigateTo($"/detalle-estudiante/{id}");
    }

    private void CrearNuevoEstudiante()
    {
        NavigationManager.NavigateTo("/matricular-estudiante");
    }

    private async Task ConfirmarEliminarEstudiante(int id)
    {
        var confirmed = await sweetAletConfirm("¿Estás seguro de que deseas eliminar este estudiante?", "warning");
        if (confirmed)
        {
            await EliminarEstudiante(id);
        }
    }

    private async Task EliminarEstudiante(int id)
    {
        try
        {
            var response = await Http.DeleteAsync($"http://localhost:5117/api/Estudiante/{id}");
            if (response.IsSuccessStatusCode)
            {
                estudiantes.RemoveAll(e => e.id_estudiante == id);
                await LoadEstudiantes();
                await sweetAletNotify("Estudiante eliminado exitosamente.", "success");
            }
            else
            {
                var errorContent = await response.Content.ReadAsStringAsync();
                await sweetAletNotify($"Error al eliminar el estudiante. Status Code: {response.StatusCode}, Details: {errorContent}", "error");
            }
        }
        catch (Exception ex)
        {
            await sweetAletNotify($"Error al eliminar el estudiante. Exception: {ex.Message}", "error");
        }
    }

    private async Task sweetAletNotify(string texto, string tipo)
    {
        var options = new
        {
            Title = texto,
            Icon = tipo,
            ConfirmButtonText = "OK"
        };
        await JSRuntime.InvokeVoidAsync("FireSweetAlert", options);
    }

    private async Task<bool> sweetAletConfirm(string texto, string tipo)
    {
        var options = new
        {
            Title = texto,
            Icon = tipo,
            ShowCancelButton = true,
            ConfirmButtonText = "Sí",
            CancelButtonText = "No"
        };
        return await JSRuntime.InvokeAsync<bool>("FireSweetAlertConfirm", options);
    }

    private async Task PreviousPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            await LoadEstudiantes();
        }
    }

    private async Task NextPage()
    {
        if (currentPage < totalPages)
        {
            currentPage++;
            await LoadEstudiantes();
        }
    }

    private bool hasPreviousPage => currentPage > 1;
    private bool hasNextPage => currentPage < totalPages;
}
