@page "/encuestas/{EncuestaId:int}"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject SweetAlertService Swal

<div class="encuesta-container">
    <h3 class="titulo-encuesta">@tituloEncuesta</h3>
    @if (isLoading)
    {
        <Spinner />
    }
    @if (!encuestaCompletada)
    {
        @if (preguntas != null)
        {
            @foreach (var pregunta in preguntas)
            {
                <div class="pregunta-container">
                    <label class="pregunta-label">@pregunta.texto_pregunta</label>
                    <select class="pregunta-select" @bind="respuestas[pregunta.id_pregunta]">
                        <option value="">Selecciona una opción</option>
                        @for (int i = 1; i <= 5; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            }
            <button class="boton-enviar" @onclick="EnviarRespuestas" disabled="@(preguntas.Count < 1)">Enviar</button>
        }
        else
        {
            <p class="cargando-texto">Cargando preguntas...</p>
        }
    }
    else
    {
        <h4 class="no-cuestionarios">No tiene cuestionarios pendientes</h4>
    }
</div>

<style>
    .encuesta-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .titulo-encuesta {
        color: #007bff;
        margin-bottom: 30px;
        font-size: 24px;
        text-align: center;
    }

    .pregunta-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .pregunta-label {
        font-weight: bold;
        color: #333;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .pregunta-select {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .boton-enviar {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

        .boton-enviar:disabled {
            background-color: #cccccc;
            cursor: not-allowed;
        }

        .boton-enviar:hover:not(:disabled) {
            background-color: #0056b3;
        }

    .cargando-texto, .no-cuestionarios {
        text-align: center;
        color: #555;
        font-size: 18px;
        margin-top: 20px;
    }
</style>


@code {
    [Parameter]
    public int EncuestaId { get; set; }


    private string tituloEncuesta = "Cargando...";
    private bool isLoading = false;
    private int idEstudiante;
    private List<Pregunta> preguntas = new List<Pregunta>();
    private Dictionary<int, string> respuestas = new Dictionary<int, string>();
    private bool encuestaCompletada = false;
    private bool BotonEnviarHabilitado = false;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        StateHasChanged();
        int initidEstudiante = 25; // Esto debería obtenerse dinámicamente según tu lógica
        idEstudiante = initidEstudiante;
        await CargarTituloEncuesta();
        await VerificarEncuestaCompletada(idEstudiante);
        if (!encuestaCompletada)
        {
            await RecibirPreguntas();
        }
        isLoading = false;
        StateHasChanged();
    }
    private async Task CargarTituloEncuesta()
    {
        try
        {
            tituloEncuesta = await Http.GetStringAsync($"http://localhost:5117/api/Encuesta/getnombreencuesta/{EncuestaId}");
        }
        catch (Exception)
        {
            tituloEncuesta = "Error al cargar el título de la encuesta";
        }
    }

    private async Task VerificarEncuestaCompletada(int idEstudiante)
    {
        try
        {
            encuestaCompletada = await Http.GetFromJsonAsync<bool>($"http://localhost:5117/api/Encuesta/verificar-respuestas/{EncuestaId}/{idEstudiante}");
        }
        catch (Exception ex)
        {
            // Manejar errores de solicitud
            Console.WriteLine($"Error al verificar encuesta completada: {ex.Message}");
        }
    }

    private async Task RecibirPreguntas()
    {
        try
        {
            preguntas = await Http.GetFromJsonAsync<List<Pregunta>>($"http://localhost:5117/api/Encuesta/preguntas/{EncuestaId}");
            // Inicializar el diccionario de respuestas para cada pregunta
            foreach (var pregunta in preguntas)
            {
                if (!respuestas.ContainsKey(pregunta.id_pregunta))
                {
                    respuestas[pregunta.id_pregunta] = string.Empty;
                }
            }
        }
        catch (Exception ex)
        {
            // Manejar errores de solicitud
            Console.WriteLine($"Error al recibir preguntas: {ex.Message}");
        }
    }

    private async Task EnviarRespuestas()
    {
        // Verificar si todas las respuestas están completas
        if (respuestas.Values.Any(r => string.IsNullOrEmpty(r)))
        {
            await sweetAletNotify("Por favor, complete todas las respuestas antes de enviar.", "warning");
            return; // Termina la ejecución de la función si hay respuestas incompletas
        }
        var options = new
        {
            Title = "¿Desea enviar sus respuestas?",
            Icon = "question",
            ShowCancelButton = true,
            ConfirmButtonText = "Sí",
            CancelButtonText = "No"
        };
        var result = await JSRuntime.InvokeAsync<bool>("FireSweetAlertConfirm", options);

        if (!result)
        {
            return; // Termina la ejecución de la función si el usuario selecciona "No"
        }
        isLoading = true;
        StateHasChanged();
        // Espera de 5 segundos para verificar si el Spinner aparece
        //await Task.Delay(5000);
        foreach (var pregunta in respuestas)
        {
            Console.WriteLine($"pos {pregunta.Key}, respuesta {pregunta.Value}");
        }
        var respuestasEnviar = respuestas.Select(r => new RespuestaDto
            {
                id_estudiante = idEstudiante,
                id_pregunta = r.Key,
                texto_respuesta = r.Value
            }).ToList();

        try
        {
            isLoading = false;
            StateHasChanged();
            await Http.PostAsJsonAsync("http://localhost:5117/api/Encuesta/respuestas", respuestasEnviar);
            await sweetAletNotify("¡Respuestas registradas exitosamente!", "info");
            //await JSRuntime.InvokeVoidAsync("refreshPage");

        }
        catch (Exception ex)
        {
            await sweetAletNotify("Error al guardar respuestas", "error");
        }
        isLoading = false;
        StateHasChanged();
    }

    private async Task sweetAletNotify(string texto, string tipo)
    {
        var options = new
        {
            Title = texto,
            Icon = tipo,
            ConfirmButtonText = "OK"
        };
        await JSRuntime.InvokeVoidAsync("FireSweetAlert", options);
    }

    public class RespuestaDto
    {
        public int id_estudiante { get; set; }
        public int id_pregunta { get; set; }
        public string texto_respuesta { get; set; }
    }
}
